<%= form_with model: @employee do |f| %>
    <% if employee.errors.any? %>
        <div class="error-message">
            <%= employee.errors.full_messages.to_sentence.capitalize %>
        </div>
    <% end %>

    <%= f.label :gender %>
    <%= f.text_field :gender %>
    <br />
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br />
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br />
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    <br />
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br />
    <%= f.submit class: "btn btn--secondary" %>
<% end %>
